.libs
.deps
*.o
*.lo
.dirstamp
*.la
Makefile
!testsuite/libffi.bhaible/Makefile
!.travis/compile
doc/libffi.info
*~
fficonfig.h
include/ffi.h
include/ffitarget.h
libffi.pc
libtool
libtool-ldflags
stamp-h1
libffi*gz
autom4te.cache
libffi.xcodeproj/xcuserdata
libffi.xcodeproj/project.xcworkspace
build_*/
darwin_*/
src/arm/trampoline.S
